{% extends 'administrador/index.html'%}

{% block content %}
<h2>ASIGNAR UN TEST</h2>

<form method="post">
  {% csrf_token %}

<div class="form-horizontal">
  <fieldset>
    <legend>Ingresar datos</legend>

    <div class="form-group">
      <label for="{{form.estudiante.name}}" class="col-lg-5 control-label">{{form.estudiante.label}}</label>
      <div class="col-lg-1">
        <select id="id_estudiante" name="estudiante" required="">
          <option value="{{ estudiante.pk }}" selected="selected">{{ estudiante.user.first_name }}{{ estudiante.user.last_name }}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="{{form.test.name}}" class="col-lg-5 control-label">{{form.test.label}}</label>
      <div class="col-lg-1">
      {{form.test}}
      </div>
    </div>

  </fieldset>
</div>

  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Resetar</button>
      <button type="submit" class="btn btn-primary">Asignar</button>
    </div>
  </div>
</form>
{% endblock %}
