{% extends 'psicologo/index.html'%}

{% block content %}
  <h2>LISTA DE ESTUDIANTES</h2>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <td>#</td>
        <td>Documento de Identidad</td>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Fecha de Nacimiento</td>
        <td>Email</td>
        <td>Direccion</td>
        <td>Telefono</td>
        <td colspan="1">Acciones</td>
      </tr>
    </thead>

    <tbody>
      {% if estudiante_list %}
        <h3>Grupo {{ grupo }}</h3>
      {% for estudiante in estudiante_list %}
      <tr>
        <td>{{ estudiante.user.id }}</td>
        <td>{{ estudiante.docIdentidad }}</td>
        <td>{{ estudiante.user.first_name }}</td>
        <td>{{ estudiante.user.last_name }}</td>
        <td>{{ estudiante.fechaDeNacimiento }}</td>
        <td>{{ estudiante.user.email }}</td>
        <td>{{ estudiante.direccion }}</td>
        <td>{{ estudiante.telefono }}</td>
        <td>
          <a class="btn btn-success" href="#">Asignar Tests</a>
        </td>
      </tr>
      {% endfor %}

      {% else %}
      <h1>NO HAY REGISTROS DE ESTUDIANTES</h1>

      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
