{% extends 'base/base.html'%}

{% block title%}Psicologo{% endblock %}

{% block home %}
  <a class="navbar-brand" href="{% url 'psicologo:index' %}">Inicio</a>
{% endblock %}

{% block navbar %}
  <li><a href="{% url 'psicologo:grupo_listar' user.pk %}">Mis grupos</a></li>
{% endblock %}

{% block content %}
<h2> APP DEL PSICOLOGO</h2>

<h4>  Datos del psicologo </h4>
  Usuario : {{ user.username }}   <br>
  Correo  : {{ user.email}}       <br>
  Nombre  : {{ user.first_name }} <br>
  Apellido: {{ user.last_name }}  <br>
<p><a class="btn btn-primary btn-lg" href="{% url 'editar_perfil' user.pk%}">Editar</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'editar_password'%}">Editar Contraseña</a></p>

<a href="javascript:window.history.go(-1);">Pagina de Inicio</a>
{% endblock %}
