{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>{% block title %}PTTI{% endblock %}</title>

</head>
<body>
	<header>
		<nav class="navbar navbar-default" style="margin-left: 5%; margin-right:5%;">
			<div class="container-fluid">
				<div class="navbar-header">
					{% block home %}

					{% endblock %}
		    </div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
						{% block navbar %}

						{% endblock %}
		      </ul>

					{% block logout %}
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="{% url 'logout' %}">Salir</a></li>
		      </ul>
					{% endblock %}
		    </div>

			</div>
		</nav>
	</header>

	<main>
		<div class="jumbotron">
			{% block content %}
				 <h1>contenido a mostrar</h1>
			{% endblock %}
		</div>
	</main>

	<footer>
		{% block footer %}

		{% endblock %}
	</footer>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
