{% extends 'administrador/index.html'%}

{% block content %}
<form method="post">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.grupo.name}}">{{form.grupo.label}}</label>
				{{form.grupo}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form2.username.name}}">{{form2.username.label}}</label>
				{{form2.username}}
			</div>
		</div>

    <div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form2.email.name}}">{{form2.email.label}}</label>
				{{form2.email}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form2.first_name.name}}">{{form2.first_name.label}}</label>
				{{form2.first_name}}
			</div>
		</div>

    <div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form2.last_name.name}}">{{form2.last_name.label}}</label>
				{{form2.last_name}}
			</div>
		</div>

    <div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form2.email.name}}">{{form2.email.label}}</label>
				{{form2.email}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.fechaDeNacimiento.name}}">{{form.fechaDeNacimiento.label}}</label>
				{{form.fechaDeNacimiento}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.direccion.name}}">{{form.direccion.label}}</label>
				{{form.direccion}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.telefono.name}}">{{form.telefono.label}}</label>
				{{form.telefono}}
			</div>
		</div>

	</div>
	<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Guardar</button>
			</div>
</div>
</form>
{% endblock %}
