{% extends 'administrador/index.html'%}


{% block content %}
<h1>PRECAUCIÓN: ELIMINADO GRUPO</h1>
<form method="post">
  {% csrf_token %}
  <h3>¿Desea Eliminar el registro del grupo {{ grupo.nombre_grado }} de la I.E {{ grupo.institucion }}?</h3>

  <button class="btn btn-danger" type="submit">SÍ, eliminar</button>
  <a class="btn btn-default" href="{% url 'administrador:grupo_listar' %}">Cancelar</a>

</form>

<br>
Nota: Se guardará un registro indicando quien fue el administrador que elimino el grupo

{% endblock %}
