{% extends 'base/base.html'%}

{% block title%}App Administrador{% endblock %}

{% block home %}
  <a class="navbar-brand" href="{% url 'administrador:index' %}">Inicio</a>
{% endblock %}

{% block navbar %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Psicologo <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'administrador:psicologo_crear' %}">Registrar</a></li>
      <li><a href="{% url 'administrador:psicologo_listar' %}">Listar</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Estudiante <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'administrador:estudiante_crear' %}">Registrar</a></li>
      <li><a href="{% url 'administrador:estudiante_listar' %}">Listar</a></li>
    </ul>
  </li>
{% endblock %}


{% block content %}
  <h2>APP DEL ADMINISTRADOR</h2>
  <h4>  Datos del administrador </h4>
    Usuario : {{ user.username }}   <br>
    Correo  : {{ user.email}}       <br>
    Nombre  : {{ user.first_name }} <br>
    Apellido: {{ user.last_name }}  <br>
  <h4> Tiene las siguientes facultades </h5>
    - Gestionar psicologos  <br>
    - Gestionar estudiantes <br> <br>
  <p><a class="btn btn-primary btn-lg" href="{% url 'editar_perfil' user.pk%}">Editar</a></p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'editar_password'%}">Editar Contraseña</a></p>

  <a href="javascript:window.history.go(-1);">Pagina de Inicio</a>
{% endblock %}
