{% extends 'base/base.html'%}

{% block Home %}
<div class="navbar-header">
  <a class="navbar-brand" href="{% url 'administrador:index' %}">Inicio</a>
</div>
{% endblock %}

{% block content %}
<h1> LISTA DE PSICOLOGOS </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>Id Usuario</td>
      <td>Nombre de Usuario</td>
      <td>Email</td>
      <td>Documento de Identidad</td>
      <td>Nombres</td>
      <td>Apellidos</td>
      <td>Fecha de Nacimiento</td>
      <td>Titulo Universitario</td>
      <td>Acciones</td>
    </tr>
  </thead>

  <tbody>
    {% if object_list %}
    {% for psicologo in object_list %}
    <tr>
      <td>{{ psicologo.user.id }}</td>
      <td>{{ psicologo.user.username }}</td>
      <td>{{ psicologo.user.email }}</td>
      <td>{{ psicologo.docIdentidad }}</td>
      <td>{{ psicologo.user.first_name }}</td>
      <td>{{ psicologo.user.last_name }}</td>
      <td>{{ psicologo.fechaDeNacimiento }}</td>
      <td>{{ psicologo.titulo }}</td>
      <td>
        <a class="btn btn-default" href="{% url 'administrador:psicologo_editar' psicologo.pk %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'administrador:psicologo_eliminar' psicologo.pk %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}

    {% else %}
    <h1>NO HAY REGISTROS DE PSICOLOGOS</h1>

    {% endif %}
  </tbody>
</table>


{% endblock %}
