{% extends 'administrador/index.html'%}

{% block content %}
<h2>CREAR UN TEST</h2>

<form method="post">
  {% csrf_token %}

<div class="form-horizontal">
  <fieldset>
    <legend>Ingresar datos</legend>

    <div class="form-group">
      <label for="{{form.descripcion.name}}" class="col-lg-5 control-label">{{form.descripcion.label}}</label>
      <div class="col-lg-2">
      {{form.descripcion}}
      </div>
    </div>

  </fieldset>
</div>

  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Resetar</button>
      <button type="submit" class="btn btn-primary">Crear</button>
    </div>
  </div>
</form>
{% endblock %}
