{% extends 'base/base.html'%}

{% block content %}
<h2>Editar Mi contraseña</h2>

<form method="post">
  {% csrf_token %}
  <div class="form-horizontal">
    <fieldset>
      <legend>Repleta los campos</legend>

      <div class="form-group">
        <label for="{{form.old_password.name}}" class="col-lg-5 control-label">{{form.old_password.label}}</label>
        <div class="col-lg-2">
          {{form.old_password}}
        </div>
      </div>

      <div class="form-group">
        <label for="{{form.new_password1.name}}" class="col-lg-5 control-label">{{form.new_password1.label}}</label>
        <div class="col-lg-2">
          {{form.new_password1}}
        </div>
      </div>

      <div class="form-group">
        <label for="{{form.new_password2.name}}" class="col-lg-5 control-label">{{form.new_password2.label}}</label>
        <div class="col-lg-2">
        {{form.new_password2}}
        </div>
      </div>
    </fieldset>
  </div>
  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Resetar</button>
      <button type="submit" class="btn btn-primary">Cambiar</button>
    </div>
  </div>
</form>

{% endblock %}
