{% extends 'base/base.html'%}

{% block title %} Estudiante {% endblock %}



{% block home %}
<a class="navbar-brand" href="{% url 'estudiante:index' %}">Inicio</a>
{% endblock %}
{% block navbar %}{% endblock %}


{% block content %}
<h2>APP DEL ESTUDIANTE</h2>
<h4>  Datos del estudiante </h4>
  Usuario : {{ user.username }}   <br>
  Correo  : {{ user.email}}       <br>
  Nombre  : {{ user.first_name }} <br>
  Apellido: {{ user.last_name }}  <br>
<p><a class="btn btn-primary btn-lg" href="{% url 'editar_perfil' user.pk%}">Editar</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'editar_password'%}">Editar Contraseña</a></p>
<!--
<h1>LISTA DE TEST</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>Id Prueba</td>
      <td>Prueba</td>
      <td>Descripción</td>
      <td>Diagnostico</td>
    </tr>
  </thead>

  <tbody>
    <!--{% if object_list %}
    {% for estudiante in object_list %}
    <tr>
      <td> 1511 </td>
      <td> *Prueba HY * </td>
      <td> *Analizar Patrones* </td>
      <td>
        <a class="btn btn-default" href="#">Diagnostico</a>
      </td>
    </tr>
    <!--{% endfor %}

    {% else %}
    <h1>NO HAY REGISTROS DE ESTUDIANTES</h1>

    {% endif %}
  </tbody>
</table>
-->
<a href="javascript:window.history.go(-1);">Pagina de Inicio</a>
{% endblock %}
